@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
margin: 5vh;
// padding: ;
// height: 96vh;
background-color: #b86a21;
// border: 5vh solid #b86a21;
// background: linear-gradient(to right, red, purple);
}

.message {
    margin: 0;
    // background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.green {
  background-color: green;
  height: 90vh;
}

.red {
  background-color: red;
}

.deepblue {
  background-color: #102d57;
}

.weather {
  background: url('https://i.imgur.com/jrgCB4I.jpg');
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.myButton {
	// box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	// background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color: red;
	border-radius:10px;
	border:6px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.search {
  display: flex;
}

.inp {
    font-size: 30px;
    width: 15vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #b86a21;
    // padding: 5px 15px;
    outline: none;
    background-color: rgba(0,0,0,0);
    color: white;
    margin-right: 1vh;
 }

 .wordColorWhite {
   color: white;
 }

 .wordColorOrange {
   color: #b86a21;
 }

 ::placeholder {
  color: grey;
  // opacity: 1; /* Firefox */
}

.information {
  padding-top: 10vh;
  padding-left: 10vh;
  // box-shadow: 10px 5px 5px red;
}

// .shadow {
//   box-shadow: 10px 5px 5px red;
// }

.infor {
  padding-top: 5vh;
  padding-bottom: 3vh;
  font-size: 30px;
  border-bottom: 1px solid grey;
  width: 15em;
}

.infor-last {
  padding-top: 5vh;
  padding-bottom: 3vh;
  font-size: 30px;
  // border-bottom: 1px solid #b86a21;
  width: 15em;
}

.title {
  font-size: 6vh;
  font-family: 'Slabo 27px', serif;
  letter-spacing: 7px;
}

.subtitle {
  font-size: 3vh;
  font-family: 'Courgette', serif;
}

.shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
